.member-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1em;
  padding-bottom: 1em;
  flex-wrap: wrap;

  & h3 {
    
    padding-bottom: 1rem;
  }
}

.member-card {
  
  margin: 1em 1em;
}

.linksToProjects {
  text-decoration: none;
  color: var(--lightGrey)
}